---
layout: base 
---

<div class="dh_news">
  {% for post in paginator.posts %}
    {% if post.categories contains 'dh_news' %}     
      <a href="{{ post.url | prepend: site.baseurl }}" class="dh_news-item">
        <div>
          <h1 class="dh_news-title">{{ post.title }}</h1>
          <div class="dh_news-line"></div>

          <div class="dh_news-content"> 
            <span class="dh_news-icon">
                <i class="fa fa-sticky-note"></i><span class="dh_news-icon-text">[{{ post.type }}] {{ post.info }}</span>
            </span>
            </br>
            <span class="dh_news-icon">
                <i class="fa fa-calendar-alt"></i><span class="dh_news-icon-text">{{ post.date | date: "发布时间 %Y-%m-%d" }}</span>
            </span>
            </br>
            <span class="dh_news-icon">
                <i class="fa fa-asterisk"></i><span class="dh_news-icon-text">{{ post.tech }}</span>
            </span>
          </div>
        </div>
      </a>
      </br> 
    {% endif %}   
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left next">Prev</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right next">Next</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
